{% extends "Project.html" %}
{% block css_block %}
    <style type="text/css">
      h1, h2, h4, .task-name, .task-name-completed {
        font-family: "Lucida Grande", sans-serif;
      }
      a {
        color: #0776A0;
        text-decoration: none;
      }
      body > ul > li {
        padding: 0.25em;
      }
      li {
        width: 80em;
      }
      .comment, .description, .due-date,
      .task-attribute, .task-tags, .user {
        font-family: "Georgia", serif;
      }
      .comment {
        font-style: italic;
      }
      .description {
        font-weight: bold;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
      .due-date {
        color: #FFA039;
        font-weight: bold;
      }
      .task-name-completed {
        text-decoration: line-through;
      }
      .task-tags {
        color: #0776A0;
      }
      .user {
        color: #FFA039;
      }
    </style>
{% endblock %}
